@font-face {
  font-family: montserrat;
  src: url(css/Montserrat-Regular.otf);
}

@font-face {
  font-family: montserratBold;
  src: url(css/Montserrat-Bold.otf);
}

@font-face {
  font-family: deutsche;
  src: url(css/DeutscheUncialis.ttf);
}

@font-face {
  font-family: deliveryNote;
  src: url(css/DeliveryNote.otf)
}

@font-face {
  font-family: franklinGothic;
  src: url(css/FranklinGothicHeavyRegular.ttf)
}

body {
  font-family: montserrat;
  background-color:  lightblue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.likesCounter {
  top:10px;
  position: fixed;
    left: 60%;
    transform: translate(-50%, 0);
  border-radius: 10px;
  font-size: 24pt;
  font-family: montserratBold;
  z-index: 2;
}

.beerDiv {
  width: 60%;
  float: left;
  margin: 10px auto 20px 40px;
  border: 1px solid black;
  transform: skew(-4deg);
  border-radius: 10px;
  padding: 10px;
  background: #1A60CE;
  background: -moz-linear-gradient(left, #1A60CE 0%, #1F92E1 50%, #6088C5 100%);
  background: -webkit-linear-gradient(left, #1A60CE 0%, #1F92E1 50%, #6088C5 100%);
  background: linear-gradient(to right, #1A60CE 0%, #1F92E1 50%, #6088C5 100%);
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
}

.factsPanel {
  width: 29%;
  position: fixed;
  top: 0px;
  right: 3px;
  background: #1A60CE;
  background: -moz-linear-gradient(left, #1A60CE 0%, #1F92E1 50%, #6088C5 100%);
  background: -webkit-linear-gradient(left, #1A60CE 0%, #1F92E1 50%, #6088C5 100%);
  background: linear-gradient(to right, #1A60CE 0%, #1F92E1 50%, #6088C5 100%);
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 5px;
  z-index: -1;
  padding: 4px;
  min-height: 100%;
}

.likeButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
}

.outputDiv {
  margin-top: 150px;
}

.bannerDiv {
  width: 70%;
  float: left;
  margin: 0px auto 20px 0px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #EC5B10;
background: -moz-linear-gradient(-45deg, #EC5B10 0%, #F17C21 52%, #F89209 100%);
background: -webkit-linear-gradient(-45deg, #EC5B10 0%, #F17C21 52%, #F89209 100%);
background: linear-gradient(135deg, #EC5B10 0%, #F17C21 52%, #F89209 100%);
border-bottom: 1px solid black;
}

.bannerPic {
  max-width: 100px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  background: white;
}
.title {
  font-family: deutsche;
  font-size: 80pt;
  line-height: 60pt;
}

.tagline {
  font-family: deliveryNote;
  font-size:16pt;
  line-height: 16pt;
}

.nutritionLabel {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}